
.container
  .row
    .col-sm-4
      -@people.each_with_index do |person, index|
        -if index%3 == 0
          =person.name
          %br
          =image_tag("#{person.image_path}", size: "200x300")
          %br
          %br
          %br
          
    .col-sm-4
      -@people.each_with_index do |person, index|
        -if index%3 == 1
          =person.name
          %br
          =image_tag("#{person.image_path}", size: "200x300")
          %br
          %br
          %br
          
    .col-sm-4
      -@people.each_with_index do |person, index|
        -if index%3 == 2
          =person.name
          %br
          =image_tag("#{person.image_path}", size: "200x300")
          %br
          %br
          %br

