%p
    .btn.btn-danger#id1 Turn Red
    .btn.btn-primary#turn_blue Turn Blue
    #id2 Hello world
    
%p
    .btn.btn-default#mouse_hold Hold
    #indicator Info on held behavior here
    
    
.row
    .col-md-2.col-md-offset-3
        .well
        
            .btn.btn-block#output{style: "background: #ffffff; padding: 10%; width: 93%;"} 0
            %br
            
            .btn.btn-default.operation#plus{style: "width: 30%"} +
            .btn.btn-default.operation#minus{style: "width: 30%"} -
            .btn.btn-warning#clear{style: "width: 30%"} C
            %br
            .btn.btn-default.operation#times{style: "width: 30%"} x
            .btn.btn-default.operation#divide{style: "width: 30%"} /
            .btn.btn-primary#plus_minus{style: "width: 30%"} +/-
            %br
            .btn.btn-default.digit#num_7{style: "width: 30%"} 7
            .btn.btn-default.digit#num_8{style: "width: 30%"} 8
            .btn.btn-default.digit#num_9{style: "width: 30%"} 9
            %br
            .btn.btn-default.digit#num_4{style: "width: 30%"} 4
            .btn.btn-default.digit#num_5{style: "width: 30%"} 5
            .btn.btn-default.digit#num_6{style: "width: 30%"} 6
            %br
            .btn.btn-default.digit#num_1{style: "width: 30%"} 1
            .btn.btn-default.digit#num_2{style: "width: 30%"} 2
            .btn.btn-default.digit#num_3{style: "width: 30%"} 3
            %br
            .btn.btn-default.digit#num_0{style: "width: 30%"} 0
            .btn.btn-default#decimal{style: "width: 30%"} .
            .btn.btn-success#equal{style: "width: 30%"} =
    