this is the results page!
.container
  .row
  
    .col-md-3
      %h1="YOU ARE: #{@winner.name}"
      =image_tag(@winner.image_path) if @winner.image_path
      
      
    .col-md-3.col-md-offset-3
      = image_tag "test.png"

    


.container
  .row
    .col-md-3.col-md-offset-3
      =@winner.bio