%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Personality Quiz", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to "Take the quiz",   root_path
        %li= link_to "New Test",  tests_new_path
        %li= link_to "Log in", '#'